<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <!-- Register Customer -->
    <servlet>
        <servlet-name>RegisterCustomerServlet</servlet-name>
        <servlet-class>com.bank.servlet.RegisterCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterCustomerServlet</servlet-name>
        <url-pattern>/customer-register</url-pattern>
    </servlet-mapping>

    <!-- Login Customer -->
    <servlet>
        <servlet-name>LoginCustomerServlet</servlet-name>
        <servlet-class>com.bank.servlet.LoginCustomerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginCustomerServlet</servlet-name>
        <url-pattern>/customer-login</url-pattern>
    </servlet-mapping>

    <!--Dashboard -->
    <servlet>
        <servlet-name>CustomerDashboard</servlet-name>
        <servlet-class>com.bank.servlet.CustomerDashboardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CustomerDashboard</servlet-name>
        <url-pattern>/customer-dashboard</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DepositServlet</servlet-name>
        <servlet-class>com.bank.servlet.DepositServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepositServlet</servlet-name>
        <url-pattern>/DepositServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WithdrawServlet</servlet-name>
        <servlet-class>com.bank.servlet.WithdrawServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WithdrawServlet</servlet-name>
        <url-pattern>/WithdrawServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.bank.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>com.bank.servlet.TransferServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/TransferServlet</url-pattern>
    </servlet-mapping>


    <!-- Default Page -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
